<app-menu></app-menu>
<router-outlet></router-outlet>


















<!-- <div class="text-layout">
<h1>{{name | uppercase}}</h1>

<button pButton (click)="displayName()" label="Change Name" icon="pi pi-heart" iconPos="right" class="p-button-danger"></button>
<p-card [header]="name | uppercase" subheader="this is a subheader">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse consequatur, sapiente adipisci aut aliquam quo, veritatis molestiae officiis natus fugiat unde. Molestias excepturi laudantium consequatur praesentium hic maxime nemo facilis.
</p-card>
</div> -->